.navbar {
  /* Set the background image */
  background-image: url('../public/static/Header.png');
  background-size: cover; /* Adjust as needed */
  background-color: yellow; /* Fallback background color */

  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Comic Sans MS";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a:first-child {
  margin-left: 0; /* Set left margin to 0 for the first link (Home) */
}

.navbar img {
  max-height: 50px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: red;
}

.login-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #333;
}

/* Add these styles to extend the logo below the navbar */
.logo-container {
  z-index: 3;
  display: fixed;
  position : absolute;
  top: 0%;
}
